#root {
    width : 100%;
    height: 100%;

    position: absolute;
}

#super_wrapper {
    width : 100%;
    height: 100%;

    position:relative;
}

.region {
    position:relative;

    fill:blueviolet;
  
    transition-duration: .2s;
  
    z-index: 0;
}

.region :hover{
    fill:crimson;
  
    transition-duration: .2s;
  
    z-index: 1;
  }