#root {
    width : 100%;
    height: 100%;

    position: absolute;
}

#SuperWrapper {
    width : 100%;
    height: 100%;

    position:relative;
}

.region {
    position:relative;

    fill:#676767;
  
    transition-duration: .2s;
}

.region :hover{
    fill:#3e3e3e;
  
    transition-duration: .2s;
}

#SvgWrapper{
    background-image: url(https://www.freelancerstuff.com/images/thumbs/pattern_001.jpg);
    /* animation: animatedBackground 10s infinite;
    animation-timing-function: linear; */
}

@keyframes animatedBackground {
    from {
      background-size:auto;
      background-position: 600px 0;
    }
    to {
      background-size: auto;
      background-position: 0 600px;
    }
  }

#MapWrapper {
    display: flex;
    flex-direction: row;
}

#LocationName{
    position: absolute;
    
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    right: 1%;
    top : 1%;
    width : 200px;
    height: 100px;

    background-color: #e3e3e3;
    border: 3px solid #676767;
}

#TrashbagPriceInfo{
    position: absolute;
    
    box-sizing: border-box;

    bottom: 0%;
    width : 100%;
    height: 20%;


    background-color: #e3e3e3;
    border: 3px solid #676767;

    transition: .3s;
}

#RegionSelectorWrapper{
    position: absolute;
    
    box-sizing: border-box;

    width : 300px;
    height: 100%;

    background-color: #e3e3e3;
    border: 3px solid #676767;
}

.baseBox{
    background-color: #e3e3e3;
    border: 3px solid #676767;
}

.left_n300px {
    left: -300px;

    transition: .3s;
}

.left_0px{
    left: 0px;

    transition: .3s;
}

.toTransparent{
    opacity: 0;

    transition : .3s
}

.toVisible{
    opacity: 1;

    transition: .3s
}

.full {
    width : 100%;
    height : 100%;
}

.toFitContent{
    height : fit-content;

    transition: .3s;
}
.toHeight0{
    height : 0;

    transition: .3s;
}

#LoadingWindow{
    position : absolute;
    box-sizing: border-box;
    
    bottom: 0%;

    width : 100%;
    height : 30px;

    background-color: #e3e3e3;
}

#PriceResult {
    position: absolute;
    box-sizing: border-box;
    
    bottom: 0%;
    width : 100%;

    background-color: #e3e3e3;
    border: 3px solid #676767;
}

.baseflex{
    display: flex;
}

.textCenter{
    text-align : center;
}

.width100per{
    position:relative;
    width : 100%;
}

.size_80_80 {
    width : 80px;
    height: 80px;
}

.size_20_80{
    width : 10px;
    height : 80px;
}

.fontBlackHanSans {
    font-family: 'Black Han Sans', sans-serif;
}

.fontNanumGothic {
    font-family: 'Nanum Gothic', sans-serif;
}

.fontSize24px{
    font-size: 20px;
}

.fontSize32px{
    font-size: 32px;
}

.fontColorLight{
    color : #AAA9A9;
}

.fontColorBlack{
    color: #676767;
}