#root {
    width : 100%;
    height: 100%;

    position: absolute;
}

#SuperWrapper {
    width : 100%;
    height: 100%;

    position:relative;
}

.region {
    position:relative;

    fill:#676767;
  
    transition-duration: .2s;
}

.region :hover{
    fill:#3e3e3e;
  
    transition-duration: .2s;
}

#SvgWrapper{
    background-image: url(https://www.freelancerstuff.com/images/thumbs/pattern_001.jpg);
    /* animation: animatedBackground 10s infinite;
    animation-timing-function: linear; */
}

@keyframes animatedBackground {
    from {
      background-size:auto;
      background-position: 600px 0;
    }
    to {
      background-size: auto;
      background-position: 0 600px;
    }
  }

#MapWrapper {
    display: flex;
    flex-direction: row;
}

#LocationName{
    position: absolute;
    
    box-sizing: border-box;

    right: 0%;
    width : 200px;
    height: 100px;

    background-color: #e3e3e3;
    border: 3px solid #676767;
}

#TrashbagPriceInfo{
    position: absolute;
    
    box-sizing: border-box;

    bottom: 0%;
    width : 100%;
    height: 20%;


    background-color: #e3e3e3;
    border: 3px solid #676767;

    transition: .3s;
}

#RegionSelectorWrapper{
    position: absolute;
    
    box-sizing: border-box;

    width : 300px;
    height: 100%;

    background-color: #e3e3e3;
    border: 3px solid #676767;
}

.baseBox{
    background-color: #e3e3e3;
    border: 3px solid #676767;
}

.left_n300px {
    left: -300px;

    transition: .3s;
}

.left_0px{
    left: 0px;

    transition: .3s;
}

.toTransparent{
    opacity: 0;

    transition : .3s
}

.toVisible{
    opacity: 1;

    transition: .3s
}

.height_500px{
    height : 500px;

    transition: .3s;
}

.height_0px{
    height : 0;

    transition : .3s;
}

.full {
    width : 100%;
    height : 100%;
}

#LoadingWindow{
    position: absolute;
    
    box-sizing: border-box;
    
    bottom: 0%;

    width : 100%;
    height : 30px;

    background-color: #e3e3e3;
}

#PriceResult {
    position: absolute;
    box-sizing: border-box;

    top: 30%;

    width : 100%;

    background-color: #e3e3e3;
    border: 3px solid #676767;
}

.baseflex{
    display: flex;
}

.size_50_50 {
    width : 50px;
    height: 50px;
}

.size_10_50{
    width : 10px;
    height : 50px;
}

.fontBlackHanSans {
    font-family: 'Black Han Sans', sans-serif;
    color: #676767;
}

.fontNanumGothic {
    font-family: 'Nanum Gothic', sans-serif;
    color : #676767;
}